body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0e5ec;
    color: #333;
    margin: 0;
    padding: 20px;
}

.timer {
    font-size: 3rem;
    margin-top: 20px;
}

.controls button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#session-toggle {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Start state - Green */
#session-toggle.start {
    background-color: #4CAF50; /* Green color */
}

/* Stop state - Red */
#session-toggle.stop {
    background-color: #f44336; /* Red color */
}

/* Button hover effect */
#session-toggle:hover {
    transform: scale(1.05);
}

/* Button active (click) effect */
#session-toggle:active {
    transform: scale(0.95);
}

#session-list {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; 
}


.sessions-log {
    margin-top: 30px;
    font-size: 1.2rem;
}

.summary {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #555;
}
#studyChart {
    width: 80%; 
    max-width: 300px; 
    height: 200px; 
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%; 
    max-width: 400px; 
}
